@import url('https://fonts.googleapis.com/css2?family=Enriqueta:wght@700&display=swap'); 

.navigationBar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 40px;
    font-family: 'Enriqueta', serif;
    font-size: 20px;
}